@model Garage2.Models.Vehicle
@{
	ViewBag.Title = "Receipt";
}
<h2>Receipt</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div>
		
		<hr />
		<dl class="dl-horizontal">
			<dt>
				Registration Number:
			</dt>
			<dd>
				<p>@ViewBag.Regnum</p>
			</dd>
			<dt>
				Check In date:
			</dt>
			<dd>
				<p>@ViewBag.CheckinDate</p>
			</dd>
			<dt>
				Check out date:
			</dt>
			<dd>
				<p>@ViewBag.CheckoutDate</p>
			</dd>
			<dt>
				Total Time:
			</dt>
			<dd>
				<p>@ViewBag.TotalTime</p>
			</dd>
			<dt>
				Price:
			</dt>
			<dd>
				<p>@ViewBag.Price SEK</p>
			</dd>
		</dl>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Brief" class="btn btn-success" />
		</div>
	</div>
	@Html.ActionLink("Back to Parked Vehicles", "Index")
}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

